.price-not-found-msg { margin: 10px 0 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: .44px;
    color: #f0782a;
    white-space: normal;}
 .pricenotfoundmsg{max-width: 37%}
.pricenotfoundmsg .price-not-found-msg{font-size: 13px}
.table-outer .table-row.tbodyrow:hover .btn.btn.disabledbtnclass,
.btn.disabledbtnclass{pointer-events:none; background: #ccc; border-color: #ccc;}
.price-not-found-msg.bookingsummarycls {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: left;
    padding: 5px 10px;
    border: solid 1px #fdc39e;
    border-radius: 5px;
    margin: 5px 0 0;
    }


.price-not-found-msg.offer-not-found-price{ 
font-size: 15px;
text-shadow: 0 0 0 rgb(239, 124, 69);
margin: 5px 0 8px;
}

.price-not-found-msg.ins-fin-msg{ 
    text-align: left;
    margin: 0 15px;
    }
    .table-outer .table-row.tbodyrow .table-cell .price-not-found-msg{
        margin: 0;
    }
    @media(max-width:991px){
    .variants-type-wrap .table-outer .table-row.tbodyrow .table-cell.pricevar.pricenotfound{
        position: relative;
        top:11px;
    }
    .variants-type-wrap .table-outer .table-row.tbodyrow .table-cell.pricevar.pricenotfound .price-not-found-msg {
        margin: 0 0 5px 5px;
    }
}
@media(max-width:767px){
.pricenotfoundmsg{max-width: 90%}
}
